/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root{
  --bg:#0f172a;
  --card:#111827;
  --accent:#38bdf8;
  --text:#e5e7eb;
  --muted:#9ca3af;
}

body{
  margin:0;
  font-family:'Inter',sans-serif;
  background:linear-gradient(135deg,#0f172a,#020617);
  color:var(--text);
}

/* Navbar */

nav{
  background:#020617;
  padding:18px;
  text-align:center;
  border-bottom:1px solid #1f2937;
}

nav h1{
  margin:0;
}

/* Contenedor */

.container{
  max-width:800px;
  margin:auto;
  padding:40px 20px;
}

/* Artículo */

.article{
  background:var(--card);
  padding:35px;
  border-radius:14px;
  border:1px solid #1f2937;
}

.article h2{
  margin-top:0;
  font-size:28px;
}

.article p{
  line-height:1.7;
  color:var(--muted);
  font-size:17px;
}

/* Caja de nota */

.note{
  background:#020617;
  border-left:4px solid var(--accent);
  padding:15px;
  margin:25px 0;
  border-radius:6px;
}

/* Botón */

.btn{
  display:inline-block;
  margin-top:30px;
  padding:10px 16px;
  background:var(--accent);
  color:black;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;
}